* {
  margin-top: 0px;
}
.Menu-btnMenu_Body {
  text-align: left;
  margin-left: 1rem;
  margin-top: 50px;
  display: flex;
  border: 0px solid;
  border-radius: 7px;
}
.Menu-btnMenu_menuName {
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
}
.Menu-b_div_container{
     display: flex;
    flex-wrap: wrap; 
}
.img {
  width: 175px;
  height: 175px;
  border-radius: 7px;
}

.Menu-b_div-wrapper {
  margin: 2.5rem;
}

.Menu-b_div {
  overflow-y: scroll;
  padding: 0 5vh;
  width: 116vh;
  height: 74vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
}

.Menu-b_div::-webkit-scrollbar {
  width: 10px;
}

.Menu-b_div::-webkit-scrollbar-thumb {
  background: #928383;
  border-radius: 10px;
  margin: 3rem;
}

.Menu-b_div::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  margin: 3rem;
}

.Menu-backGround {
  width: 100%;
  background-color: #f5ebe0;
}

.Menu-title {
  /* background-color:#dba39a; */
  text-align: center;
  color: #000000;
  font-family: "Ubuntu";
}

.Menu-tabMenu {
  background-color: rgba(250, 250, 250, 0.1);
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: 11vh;
  width: 150vh;
}
.Menu-submenu {
  /* //   기본 Tabmenu 에 대한 CSS를 구현 */
  background-color: rgba(77, 74, 77, 0.1);
  margin: 0 10px;
  display: flex;
  width: calc(100% / 3);
  padding: 10px;
  transition: 0.9s;
  border-radius: 10px 10px 0px 0px;
}
.Menu-submenu:hover {
  cursor: pointer;
}
.Menu-focused {
  /* 선택된 Tabmenu 에만 적용되는 CSS를 구현 */
  color: rgb(21, 20, 20);
  background-image: url(/public/img/main_img2.jpg);
  background-size: cover; /* 이미지를 요소에 맞게 조절 */
  background-position: center; /* 이미지를 요소 중앙에 위치 */
}

& div.desc {
  text-align: center;
}

.Menu-content {
  background-color: rgba(77, 74, 77, 0.1);
  height: 82vh;
  margin-left: 11.5vh;
  display: flex;
  width: 149vh;
}
.Menu-content-Body {
  display: flex;
}

.Menu-cart {
  background-color: rgba(77, 74, 77, 0.1);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  width: 30vh;
  height: 83vh;
  font-family: "Ubuntu";
  font-size: small;
  position: absolute;
  top: 12vh;
  right: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Menu-cartText1 {
  margin-top: 10px;
  text-align: center;
  font-family: "Ubuntu";
  font-size: "large";
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  padding: 1rem;
  letter-spacing: 0.5rem;
}
.Menu-cartText2 {
  text-align: center;
  font-family: "Ubuntu";
  font-size: "small";
  margin-bottom: 10px;
}
.Menu-cart-container {
  list-style: none;
  padding: 0;
  flex: 1 1;
}
.Menu-cart-container-MenuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.Menu-cart-container-MenuList-itemName {
  width: 50%; 
  font-weight: 500;
  font-size: 1rem;
}
.Menu-cart-container-MenuList-quantity {
  width: 30%; /* Adjust the width as needed */
  display: flex;
  align-items: center;
  font-weight: bold;
}
.Menu-cart-Menu-close-container {
  border-top: 1px solid gray;
  margin: 1rem 0;
}
.Menu-cart-Menu-close {
  border: 0px solid;
  background-color: rgba(77, 74, 77, 0.1);
  font-weight: bold;
  font-size: large;
  border-radius: 7px;
  bottom: 0;
  margin-top: 10px;
}
.Menu-cart-Menu-close:hover {
  cursor: pointer;
}
.Menu-plusBtn-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1rem;
  flex-direction: row;
}
.Menu-plusBtn,
.Menu-minusBtn {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 32px;
  height: 25px;
  border: none;
  background-color: #babab4c2; /* Light gray background color */
  border-radius: 7px; /* Rounded shape */
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Menu-plusBtn:hover {
  cursor: pointer;
}

#result {
  margin: 0 10px;
}

.Menu-cart-Menu-removeBtn {
  cursor: pointer;
  font-size: 14px;
  background-color: #727272;
  color: #fff;
  border: none;
  padding: 0.5vh 1vh;
  border-radius: 4px;
  outline: none;
}
/* 모달 */
.Menu-containerMenu {
  width: 100vh;
  height: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  z-index: 500;
  overflow: hidden;
}

.Menu-mini_title {
  font-weight: bold;
  color: #000000;
}

/* 모달창 내부 X버튼 */

.Menu-btnMenu-close {
  border: 0px solid;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}
.Menu-btnMenu-close:hover {
  cursor: pointer;
  color: gray;
}
.Menu-btnMenu {
  border: 0px solid;
  border-radius: 7px;
  color: #1a120b;
  cursor: pointer;
  font-size: 0.88rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 2px;
  padding: 0.4rem;
}
.Menu-btnMenu-favorite {
  border: 0px solid;
  border-radius: 7px;
  color: #1a120b;
  background-color: #f2ee9d;
  cursor: pointer;
  font-size: 0.88rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 2px;
  padding: 0.4rem;
}
.Menu-btnMenu:hover,
.Menu-btnMenu-favorite:hover {
  cursor: pointer;
  font-weight: bold;
}
.Menu-text1 {
  /* 글자폰트 */
  font-family: "Ubuntu";
  font-size: middle;
  color: #000000;
}
