.Admin-sidebaradmin {
  justify-content: space-between;
  flex: 1;
  height: calc(100vh-50px);
  background-color: #fff7e8;
}

.Admin-sidebarWrapper {
  padding: 20px;
  color: #555;
}

.Admin-tabContent {
  flex: 3;
  background-color: #f5ebe0;
}

.Admin-sidebarMenu {
  margin-bottom: 2rem;
}

.Admin-sidebarTitle {
  padding: 20px;
  color: #dba39a;
  font-size: 20px;
}

.Admin-sidebarList {
  list-style: none;
  padding: 0.5rem;
}

.Admin-sidebarListItem {
  padding: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}

.Admin-sidebarListItem.active,
.Admin-sidebarListItem:hover {
  background-color: #f3c5c5;
  /* E4CDB2 */
}
