.Admin-sidebaradmin {
  background-color: #e9d5bc;
  border-radius: 0 3rem 0 0;
  padding: 2rem;
  width: 250px;
  height: 508px;
}

.Admin-sidebarWrapper {
  padding: 20px;
  color: #555;
}

.Admin-tabContent {
  margin-top: 2rem;
  margin-left: 1.4rem;
}

.Admin-sidebarMenu {
  margin-bottom: 2rem;
}

.Admin-sidebarList {
  list-style: none;
  padding: 0.5rem;
}

.Admin-sidebarListItem {
      margin: 2rem 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid gray;
}

.Admin-sidebarListItem.active,
.Admin-sidebarListItem:hover {
  font-weight: bold;
  cursor: pointer;
}
